SCRIPT_ID=1jT9iImaRC4bI0hlAen_7lVhl-6ziCoXlx4og4sfv282xzC7HN9ANgH-y
ENVIRONMENT=RELEASE
CONFIG_SOURCE_TYPE=PROP
CONFIG_JSON_FILE_ID=1mGnlGhNvOesQON8nAY0y_W0U1maSCScN
RUNTIME_CONFIG_SOURCE_TYPE=PROP
RUNTIME_CONFIG_JSON_FILE_ID=1gVOKjX8VhlRnFoiMJRno2kKYGLNZL1-z