SCRIPT_ID=1yPj2l8E7Nu-MRxA86nXvRTz07v17jI-Kao-Gz50GcTICs_CjBmOjTcz6
ENVIRONMENT=DEVELOP
CONFIG_SOURCE_TYPE=JSON
CONFIG_JSON_FILE_ID=1uPRo3qbbQbXZtXF2DudTshpcUw6QztDP
RUNTIME_CONFIG_SOURCE_TYPE=JSON
RUNTIME_CONFIG_JSON_FILE_ID=1Ach5YqFwvsr4neFOcCj7vK7I4r2nj9OT